.detailBig {
  width: 700px;
  height: 700px;
  margin: 5px;
  border: 2px solid #ccc;
  border-radius: 20px;
  box-shadow: 10px 10px 10px rgba(87, 38, 38, 0.2);
  background-color: #050b30;
  opacity: 85%;
  font-family: "Courier New", Courier, monospace;
}
img {
  width: 50%;
}
