.start-button {
  width: 340px;
  height: 340px;
  background-image: url("terra.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #2268b3;
  border: none;
  border-radius: 50%;
  color: #1a0770;
  font-size: 35px;
  font-family: "Times New Roman", Times, serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  animation: expand 1.5s infinite alternate;
}
.start-button:hover {
  width: 350px;
  height: 350px;
  transition: all 0.1s;
}
@keyframes expand {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    transform: translate(-50%, -50%) scale(1.1);
  }
}
